
@import "vars";





#animation-container {
	position: relative;

	// Pulls it up under header
	top: -70px;

	// Pulls content up below to compensate
	margin-bottom: -100px;

	overflow: hidden;
	height: 500px;
	width: 100%; 
	text-align: center;

	h1 {
		font-size: $font-size-title;
	}
	p {
		//font-size: $font-size-big;
		margin: 0;
	}

	//Make the call to action have a little spacing above.
	.button {
		margin-top: $tightness*2;
	}


	.layer  {
		width: 100%;

		canvas {
			position: absolute;
			left: -200px;
			top: -100px;
			z-index: 10;
		}
		.content {
			z-index: 100;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			padding-bottom: $tightness*2;
		}
	}
	.button {
		background-color: transparent;
	}
}




//To make anim appear underneath
.home #site-nav {
	//background-color: transparent;
}


@media ($break-sm-up) {
	#animation-container {
		h1 {
			font-size: $font-size-xl;
		}
		p {
			font-size: $font-size-big;
		}
	}
}