
@import "vars";



button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $color-main;
	border-radius: 4px;
	background: $color-white;
	color: $color-main;

	line-height: 1;
	padding: $tightness/2;
	font-size: $font-size-text;

	&:hover {
		border-color: #FFF;
	}

	&:active,
	&:focus {
		border-color: #000;
	}
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-grey;
	border: 2px solid $color-grey;
	background-color: $color-white;
	border-radius: 5px;
	padding: 5px;
	width: 100%;

	&:focus {
		color: $color-dark;
		border-color: $color-main;
	}
}

