
@import "vars";


.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: 2px solid $color-white;
	border-radius: 5px;
	background: $color-main;
	color: $color-white;
	font-weight: bold;
	line-height: 1;
	padding: $tightness/2 $tightness;
	font-size: $font-size-text;

	&:hover,
	&:visited {
		border-color: #FFF;
		color: $color-white;
	}

	&:active,
	&:focus {
		//border-color: #000;
	}
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-dark;
	border: 2px solid $color-grey;
	background-color: $color-white;
	border-radius: 5px;
	padding: $tightness/2;
	width: 100%;
	transition: 1s;
	font-weight: normal;

	&:focus {
		color: $color-dark;
		border-color: $color-main;
	}
}

