
//#f0604c
//$color-main: #6258ec;
$color-main: #6050f0;
$color-second: #d5cff5;

$color-alt: #ebe9f9;

$color-white: #f7f5f9;
$color-grey: #c5c0cf;

$color-dark: #5a555f;

//Breakpoint for small and up 
$break-sm-up: "min-width: 768px";



$font-size-xl: 64px;
$font-size-text: 18px;
$font-size-title: 36px;
$font-size-subtitle: 24px;


$tightness: 20px;
