

$color-main: #6036D9;

$color-dark: #453d5f;

$color-white: #F5F2FF;
$color-black: #2B2933;

//$color-second: #d5cff5;

$color-alt: #ede9fc;

$color-grey: #9990a1;


//Breakpoint for small and up 
$break-sm-up: "min-width: 768px";


$font-size-xl: 54px;
$font-size-title: 42px;
$font-size-subtitle: 30px;
$font-size-big: 24px;
$font-size-text: 18px;


$tightness: 20px;
$line-size: 3px;
