
//#f0604c
//$color-main: #6258ec;
$color-main: #6050f0;
$color-white: #f7f3f9;
$color-dark: #59505f;


//$color-second: #d5cff5;

$color-alt: #ede9fc;

$color-grey: #9990a1;


//Breakpoint for small and up 
$break-sm-up: "min-width: 768px";


$font-size-xl: 54px;
$font-size-title: 42px;
$font-size-subtitle: 30px;
$font-size-big: 24px;
$font-size-text: 18px;


$tightness: 20px;
$line-size: 3px;
