
//#f0604c
//$color-main: #6258ec;
$color-main: #6050f0;
$color-second: #d5cff5;

$color-alt: #ebe9f9;

$color-white: #f7f5f9;
$color-grey: #c5c0cf;

$color-dark: #5a555f;

//Breakpoint for small and up 
$break-sm-up: "min-width: 768px";






$tightness: 20px;

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";


// Lightbox
@import "lightbox";






/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
//@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
//@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

// Top navbar / header
@import "nav";


/*

//Armata%7C
Cantarell%7C
Maven+Pro%7C
Source+Code+Pro%7C
Titillium+Web&#038;ver=4.8-alpha-40472' type='text/css' media='all' />



*/


body {

	//font-family: "Cantarell";
	font-family: "Maven Pro";
	background-color: $color-white;
	color: $color-dark;
}


img.aligncenter {
	display: block;
	margin: 0 auto;
}




.color-bg {
	background-color: $color-main;
	color: $color-white;
}
.alt-bg {
	background-color: $color-alt;
}


a, a:visited {
	color: $color-main;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: $tightness*2 0 $tightness 0;
}


.page-title {
	font-size: 32px;
	margin: 0;
	padding: $tightness*2 0;
}


#site-footer {
	background-color: $color-dark;
	color: #FFF;
	padding: $tightness*2 0;
}




#parallax-container {
	margin-bottom: -100px;
	top: -100px;
	overflow: hidden;
	height: 500px;
	width: 100%; 

	.layer  {
		width: 100%;
		canvas {
			position: absolute;
			left: -200px;
			top: -100px;
		}
	}
}


.sidebar {
	color: $color-dark;

	margin: $tightness 0;
	padding: $tightness;

	ul {
		padding-left: 0;
		margin-left: 0;
	}
	li {
		list-style-type: none;
	}
}

.widget-title {
	font-size: 20px;
	color: $color-dark;
}

.widget a {
	color: $color-grey;
}

.margin-top {
	margin-top: $tightness;
}
.margin-bottom {
	margin-bottom: $tightness*2;
}

//To make anim appear underneath
.home #site-nav {
	background-color: transparent;
}



.post-list {

	header {
		img {
			float: left;
			max-height: 150px;
			max-width: 150px;
			height: auto;
			width: auto;
		}
		h3, h2 {
			display: inline-block;
		}
	}

}



.project-gallery {
	width: 100%;
	background-color: $color-second;
	padding: $tightness*2 0;

	a {
		display: inline-block;
		margin-bottom: $tightness;
		// This selects every thumb after the 4th

	}
}

.project-thumb {
	text-align: center;
	img {
		vertical-align: center;
	}
	&:nth-child(1n+5) {
		display: none;
	}
}

@media ($break-sm-up) {
	.project-gallery {
		a {
			margin-bottom: 0;
		}
	}
}


.tag {
	border: 1px solid $color-main;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}

.edit-link {
	display: block;
	padding: 6px;
	margin: $tightness/2 0;
}

// Remove next / prev links in post
.post-navigation {
	display: none;
}

.entry-content {
	margin: 0;
}

#primary {
	margin: $tightness*2 0;

}